@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website was made for people to easily be able to join fun events and keep track of them.</p>
    <br />

    <h3>Hi, Visitor!</h3>
    <br />
    <p>Check out Events</p>

    <h3>Log in</h3>
    <br />

    <div class="btn-group">
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">Register</a>
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">Log In</a>
    </div>

</div>
